name = "node-web-sync-test"
compatibility_date = "2024-05-12"
main = "./sync-server.ts"

[[durable_objects.bindings]]
name = "WEBSOCKET_SERVER"
class_name = "WebSocketServer"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["WebSocketServer"]