name = "work-squared-auth"
compatibility_date = "2024-05-12"
main = "./src/index.ts"

[vars]
ENVIRONMENT = "development"
SERVER_WEBHOOK_URL = ""
WEBHOOK_SECRET = ""

[[durable_objects.bindings]]
name = "USER_STORE"
class_name = "UserStore"
script_name = "work-squared-auth"

[[kv_namespaces]]
binding = "WORKSPACE_CLAIMS_VERSION"
id = "26a53466bc6c4ea78acbd675fd4996e7"
preview_id = "26a53466bc6c4ea78acbd675fd4996e7"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["UserStore"]

[observability.logs]
enabled = true
