name = "work-squared-auth"
compatibility_date = "2024-05-12"
main = "./src/index.ts"

[vars]
ENVIRONMENT = "development"

[[durable_objects.bindings]]
name = "USER_STORE"
class_name = "UserStore"

[[migrations]]
tag = "v1"
new_classes = ["UserStore"]