name = "work-squared-auth"
compatibility_date = "2024-05-12"
main = "./src/index.ts"

[vars]
ENVIRONMENT = "production"

[[durable_objects.bindings]]
name = "USER_STORE"
class_name = "UserStore"
script_name = "work-squared-auth"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["UserStore"]